{% extends "base.html" %}

{% block title %}Inbox{% endblock %}

{% block content %}
<h2>Minhas Conversas – Teste Simplificado</h2>
<ul>
  {% for t in threads %}
    <li>
      <a href="{% url 'messages_app:thread_detail' t.pk %}">
        Conversa #{{ t.pk }}: {{ t.user1.username }} & {{ t.user2.username }}
      </a>
    </li>
  {% empty %}
    <li>Nenhuma conversa disponível.</li>
  {% endfor %}
</ul>

<a href="{% url 'messages_app:new' %}" class="btn btn-primary mt-3">
  Iniciar Nova Conversa
</a>
{% endblock %}