{% extends "base.html" %}
{% block content %}
<h2>Minhas Conversas</h2>
{% if threads %}
  <ul>
    {% for t in threads %}
      {% if t.user1 == request.user %}
        {% with other=t.user2 %}
      {% else %}
        {% with other=t.user1 %}
      {% endif %}
      <li><a href="{% url 'messages_app:thread_detail' t.pk %}">Conversa com {{ other.username }}</a></li>
      {% endwith %}
    {% endfor %}
  </ul>
{% else %}
  <p>Você ainda não possui mensagens.</p>
{% endif %}
<a href="{% url 'messages_app:new' %}">Nova mensagem</a>
{% endblock %}
